.crumbs {
  display: inline-block;

  &__list {
    list-style-type: none;
    padding-left: 0;
  }

  &__crumb {
    display: inline-block;

    &::after {
      display: inline-block;
      color: #fff;
      content: '>';
      font-size: 80%;
      font-weight: bold;
      padding: 0 4px;
    }

    &:last-child::after {
      content: none;
    }
  }
}

.foo {
  display: inline-block;
}
