.register-tree {
  padding-left: 16px;

  &__children {
    &--collapsed {
      display: none;
    }
  }

  &__expand-button {
    font-family: monospace;
    font-weight: bold;

    a {
      text-decoration: none;
    }

    &__label {
      &--collapsed::after {
        content: '+';
      }

      &--expanded::after {
        content: '-';
      }
    }

    visibility: visible;

    &--disabled {
      visibility: hidden;
    }
  }
}
