.stack {
  display: flex;
  gap: 16px;
  flex-direction: column;

  // Prevent grid overflowing its container
  & > * {
    min-width: 0;
  }

  &--mini {
    gap: 4px;
  }

  &--small {
    gap: 8px;
  }

  &--medium {
    gap: 24px;
  }

  &--large {
    gap: 32px;
  }

  &--row {
    flex-direction: row;
  }

  &--wrap {
    flex-wrap: wrap;
  }
}
