- content_for :nav_icon
  = "👤"
- content_for :crumbs
  - if current_user.admin?
    = crumb "Users", users_path
  = crumb "User #{@user.display_name}"
section.toolbar
  - if @user == current_user
    = link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete}, class: "toolbar__button"
    = link_to "Edit", edit_user_path(@user), class: "toolbar__button"
section
  table
    tr
      td Display Name
      td = @user.display_name
    tr
      td eMail
      td = @user.email
    tr
      td Default Book
      td
        - if current_user.default_book
          = link_to current_user.default_book&.name, current_user.default_book
