// TODO: Switch back to `px` vs `em`
.toolbar {
  background-color: #b6d4fc;
  padding: 8px 16px;
  margin: 8px -16px 8px -16px;
  display: flex;
  gap: 8px;

  &:empty {
    display: none;
  }
}

.toolbar__button {
  border: 1.25px #90bffd solid;
  border-radius: 5px;
  padding: 1.5px 5px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    background-color: #a7ccfc;
  }
}

.navbar + .toolbar {
  margin-top: -8px;
}
